<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Sample</title>

    <link href="./normalize.css" rel="stylesheet">
    <link href="./index.css" rel="stylesheet">

  </head>
  <body>
    <button id="openWindow">Open Window</button>

    <script id="lodash" async src="./lodash.js"></script>

    <script id="hello" type="text/html">
        <hr>
    </script>

    <script id="box" type="text/html">
        <div class="box">
            Width: <%= width %>
            Height: <%= height %> 
        </div>
    </script>

    <script src="./index.js"></script>
  </body>
</html>